.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#slide {
  position: absolute;
  top: 36px;
  left: -50%;
  -webkit-animation: slide 1.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 1.5s forwards;
  animation-delay: 2s;
}

@-webkit-keyframes slide {
  100% { left: 44%; }
}

@keyframes slide {
  100% { left: 44%; }
}

.loader {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 100px;
  box-shadow: 10px 10px 10px #9FF6D2;
  -webkit-animation: loader 4s infinite linear;
  -webkit-animation-delay: 0s;
  animation: loader 4s infinite linear;
  animation-delay: 0s;
}

@-webkit-keyframes loader {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(150deg); }
  50% { transform: rotate(350deg); }
  100% { transform: rotate(0deg); }
}

@keyframes loader {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(150deg); }
  50% { transform: rotate(350deg); }
  100% { transform: rotate(0deg); }
}
